<!DOCTYPE html>
<html>
    {% block content %}
    <title>Signup</title>

    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5\
BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/register.css' %}">
        <script rel="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      </head>
      <body>
          <div class="page-wrapper">
              <div class="nav-wrapper">
               <div class="grad-bar"></div>
               <nav class="navbar">
                 <img src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,q_auto,w_1600/v15241713\
71/amc-cdn/general/amc-classic-brand-creative/amc_logo_1200x856.png" alt="Company Logo">
                 <div class="menu-toggle" id="mobile-menu">
                   <span class="bar"></span>
                   <span class="bar"></span>
                   <span class="bar"></span>
                 </div>
                 <ul class="nav no-search">
<li class="nav-item"><a href="#">Home</a></li>
                   <li class="nav-item" ><a href="#">Movies</a></li>
                   <li class="nav-item"><a href="#">Tickets</a></li>
                   <li class="nav-item" id="active"><a href="#">My Profile</a></li>
                   <i class="fas fa-search" id="search-icon"></i>
                   <input class="search-input" type="text" placeholder="Search..">
                 </ul>
               </nav>
            </div>
    <br><br>
    <div class="body">

      <div class="signup-page">
      <h2>Signup</h2>
      <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <br>
        <button type="submit">Register</button>
      </form>
        </div>
      </div>
    </div>
</body>
<script>
 $("#search-icon").click(function() {
      $(".nav").toggleClass("search");
      $(".nav").toggleClass("no-search");
      $(".search-input").toggleClass("search-active");
    });

    $('.menu-toggle').click(function(){
      $(".nav").toggleClass("mobile-nav");
      $(this).toggleClass("is-active");
    });
    </script>
{% endblock %}
</html>









